-dependencyfile
*~
*.db
.SyncArchive/*
.SyncId
.SyncIgnore
.cache
core/target/*
core/data/*
core/.settings
core/.classpath
core/.project
core/.scala_dependencies
core/.settings/org.eclipse.core.resources.prefs
core/.settings/org.eclipse.jdt.core.prefs
core/lib_managed/*
core/src_managed/*
core/.cache
macros/target/*
macros/data/*
macros/.settings
macros/.classpath
macros/.project
macros/.scala_dependencies
macros/.settings/org.eclipse.core.resources.prefs
macros/.settings/org.eclipse.jdt.core.prefs
macros/lib_managed/*
macros/src_managed/*
macros/.cache
target/*
data/*
.classpath
.project
.scala_dependencies
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
lib_managed/*
src_managed/*
project/project/*
project/boot/*
project/target/*
project/plugins/*
.settings/*
*#
.DS_Store
.history
.target/*
tmpDir/
.ensime_lucene/*
.worksheet/*
/.target
