-dependencyfile
*~
*.db
target/*
data/*
.classpath
.project
.scala_dependencies
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
lib_managed/*
src_managed/*
project/project/*
project/boot/*
project/target/*
project/plugins/*
.settings/*
*#
.DS_Store
.history
.target/*
tmpDir/
.ensime_lucene/*
.worksheet/*